version: "3.9"

services:
  api:
    container_name: eCommerce_api
    build: .
    ports:
      - "5001:5001"
    environment:
      MONGODB_URL: "mongodb+srv://kishanth1209:20021209kK$@cluster0.8xjafau.mongodb.net/test?retryWrites=true&w=majority"
      PORT: 5001
      JWT_SECRET: kishanth
